
@{
    ViewBag.Title = "Manage Aircraft";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-box">
    <div class="card-head">
        <div class="tools">
            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
        </div>
    </div>
    <div class="card-body">
        <a href="@Url.Action("ViewAircraft", "Home", new { nAircraftID = 0 })" class="btn btn-info cyan"><i class="fa fa-plus left" aria-hidden="true"></i> Add New User</a>
        <div class="table-responsive">
            <table class="table table table-hover table-checkable order-column full-width dataTable no-footer" id="example">
                <thead>
                    <tr>
                        <th>SR.NO.</th>
                        @*<th>Aircraft Type</th>*@
                        <th>Aircraft Code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.AircraftList)
                    {
                        <tr>
                            <td>@item.SRNO</td>
                            @*<td>@item.AircraftTypeID </td>*@
                            <td>@item.AircraftType </td>
                            <td>@item.AircraftCode </td>
                            <td>
                                <a href="@Url.Action("ViewAircraft", "Home", new { nAircraftID = item.AircraftTypeID })" class="btn btn-tbl-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#" class="btn btn-tbl-delete">
                                    <i class="fa fa-trash-o "></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#tblEmployeeList').DataTable({
                "bLengthChange": false, //thought this line could hide the LengthMenu
            });
        });

    </script>
}

