@model MVC_BMEApplication.Models.DataFetch
@{
    ViewBag.Title = "View Stand Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card card-box">
    <div class="card-head">
        <div class="tools">
            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("ViewStandData", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Task)
            @Html.HiddenFor(model => model.CallingView)
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6 form-group">
                    @Html.LabelFor(model => model.FromDate, new { @class = "control-label col-md-4" })
                    <div class="col-md-8 input-group date form_date" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        @Html.TextBoxFor(model => model.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @placeholder = "From Date", @style = "background-color:#fff" })
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6 form-group">
                    @Html.LabelFor(model => model.ToDate, new { @class = "control-label col-md-4" })
                    <div class="col-md-8 input-group date form_date" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        @Html.TextBoxFor(model => model.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-height", @placeholder = "To Date", @style = "background-color:#fff" })
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6 form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Submit" class="btn btn-default" />
                        <a href="@Url.Action("ViewStandData", "Home")" class="btn btn-default">Cancel</a>
                    </div>
                </div>

                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="h5 mb-3 font-weight-normal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="row table-responsive">
                <table class="table table table-hover table-checkable order-column full-width dataTable" id="example">
                    <thead>
                        <tr>
                            <th>SR.NO.</th>
                            <th>FLIGHT NO.</th>
                            <th>FLIGHT DATE</th>
                            <th>AIRLINE NAME</th>
                            <th>AIRCRAFT REG</th>
                            <th>AIRCRAFT TYPE</th>
                            <th>FLIGHT TYPE</th>
                            <th>STAND NAME</th>
                            <th>STAND IN DATE</th>
                            <th>STAND IN TIME</th>
                            <th>STAND OUT DATE</th>
                            <th>STAND OUT TIME</th>
                            <th>IS ASSOCIATED</th>
                            <th>DATA SOURCE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.StandDataList != null)
                        {
                            foreach (var item in ViewBag.StandDataList)
                            {
                                <tr>
                                    <td></td>
                                    <td>@item.FLIGHT_NUMBER </td>
                                    <td>@item.FLIGHT_DATE</td>
                                    <td>@item.AIRLINE_NAME</td>
                                    <td>@item.AIRCRAFT_REGN </td>
                                    <td>@item.AIRCRAFT_TYPE</td>
                                    <td>@item.AIRCRAFT_TYPE</td>
                                    <td>@item.FLIGHT_TYPE </td>
                                    <td>@item.STAND_NAME</td>
                                    <td>@item.STAND_IN_DATE </td>
                                    <td>@item.STAND_OUT_DATE </td>
                                    <td>@item.STAND_OUT_TIME</td>
                                    <td>@item.PROCESSING_DONE</td>
                                    <td>@item.DATA_SOURCE_TYPE </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }

    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#example tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });
            var table = $('#example').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf']

            });
            table.buttons().container()
            .appendTo('#example_wrapper .col-sm-6:eq(0)');
            table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });


        $(function () {

            $('#ToDatetimepicker').datetimepicker({
                //format: 'DD/MM/YYYY',
            });
            $('#FromDatetimepicker').datetimepicker({
                //      format: 'DD/MM/YYYY',
            });
            //if (ViewBag.BMEDataList != null) {

            //}
        });

    </script>

}

