<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/AppCss")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="row col-md-12">
        <header>
            <div class="top-header">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <div class="page-logo">
                            <a href="@Url.Action("Dashboard", "Home")">
                                <span class="logo-default">Engeniuspark</span>
                            </a>
                        </div>
                        <li class="dropdown dropdown-extended dropdown-notification">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                                <span class="notify"></span>
                                <span class="heartbeat"></span>
                            </a>
                            <ul class="dropdown-menu mailbox wow zoomIn">
                                <li class="external">
                                    <h3>Notifications</h3>
                                    <span class="notification-label purple-bgcolor">New 1</span>
                                </li>
                                <li>
                                    <div class="message-center">
                                        <ul class="small-slimscroll-style" data-handle-color="#637283">
                                            <li>
                                                <a href="#">
                                                    <span class="btn-floating btn-large red"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    <span class="mail-contnet">
                                                        <h5>Launch Admin</h5>
                                                        <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="btn-floating btn-large red"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    <span class="mail-contnet">
                                                        <h5>Launch Admin</h5>
                                                        <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="btn-floating btn-large red"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    <span class="mail-contnet">
                                                        <h5>Launch </h5>
                                                        <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="btn-floating btn-large red"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    <span class="mail-contnet">
                                                        <h5> Admin</h5>
                                                        <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-menu-footer">
                                        <a href="javascript:void(0)"> All notifications </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- start notification dropdown -->
                        <li class="dropdown dropdown-extended dropdown-notification">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                <span class="notify"></span>
                                <span class="heartbeat"></span>
                            </a>
                            <ul class="dropdown-menu mailbox wow zoomIn">
                                <li class="external">
                                    <h3>You have 4 new message</h3>
                                </li>
                                <li>
                                    <div class="message-center">
                                        <ul class="small-slimscroll-style" data-handle-color="#637283">
                                            <li>
                                                <a href="#">
                                                    <span class="user-img">
                                                        <img src="images/1.jpg" alt="user" class="img-circle">
                                                        <span class="profile-status online pull-right"></span>
                                                    </span>
                                                    <span class="mail-contnet">
                                                        <h5>Chris Evans</h5>
                                                        <span class="mail-desc">Just see the my admin!</span>
                                                        <span class="time">9:30 AM</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="user-img">
                                                        <img src="images/1.jpg" alt="user" class="img-circle">
                                                        <span class="profile-status busy pull-right"></span>
                                                    </span>
                                                    <span class="mail-contnet">
                                                        <h5>Chris Evans</h5>
                                                        <span class="mail-desc">Just see the my admin!</span>
                                                        <span class="time">9:30 AM</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="user-img">
                                                        <img src="images/1.jpg" alt="user" class="img-circle">
                                                        <span class="profile-status busy pull-right"></span>
                                                    </span>
                                                    <span class="mail-contnet">
                                                        <h5>Chris Evans</h5>
                                                        <span class="mail-desc">Just see the my admin!</span>
                                                        <span class="time">9:30 AM</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="user-img">
                                                        <img src="images/1.jpg" alt="user" class="img-circle">
                                                        <span class="profile-status busy pull-right"></span>
                                                    </span>
                                                    <span class="mail-contnet">
                                                        <h5>Chris Evans</h5>
                                                        <span class="mail-desc">Just see the my admin!</span>
                                                        <span class="time">9:30 AM</span>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-menu-footer">
                                        <a href="javascript:void(0)"> See all e-Mails</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="search-box">
                                <input class="s-box" type="text" name="search" placeholder="Type keyword">
                                <a class="s-btn" href="">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            <div class="bottom-header">
                <div class="container">
                    <div class="menu">
                        <label for="tm" id="toggle-menu">Menu <span class="drop-icon">▾</span></label>
                        <input type="checkbox" id="tm">
                        <ul class="main-menu cf">
                            <li id="liDashboard" style="display: @ViewData["Dashboard"]"><a href="@Url.Action("Dashboard", "Home")"> <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                            <li id="liManageAircraft" style="display: @ViewData["ManageAircraft"]"><a href="@Url.Action("ManageAircraft", "Home", new { nAircraftID=0})"> <i class="fa fa-tachometer" aria-hidden="true"></i> Aircraft Master</a></li>
                            <li id="liManageAirline" style="display: @ViewData["ManageAirline"]"><a href="@Url.Action("ManageAirline", "Home")"> <i class="fa fa-tachometer" aria-hidden="true"></i> Airline Master</a></li>
                            <li id="liBMEData" style="display: @ViewData["BMEData"]">
                                <a href="#">
                                    <i class="fa fa-tag" aria-hidden="true"></i> BME Data
                                    <span class="drop-icon">▾</span>
                                    <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
                                </a>
                                <input type="checkbox" id="sm1">
                                <ul class="sub-menu">
                                    <li><a href="@Url.Action("ViewBMEData", "Home")">View BME Data</a></li>
                                    <li><a href="@Url.Action("UploadBMEData", "Home")">Upload BME Data</a></li>
                                    <li><a href="@Url.Action("UnmatchedBMEData", "Home")">Unmatched BME Data</a></li>
                                </ul>
                            </li>
                            <li id="liStandData" style="display: @ViewData["StandData"]">
                                <a href="#">
                                    <i class="fa fa-tag" aria-hidden="true"></i> Stand Data
                                    <span class="drop-icon">▾</span>
                                    <label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label>
                                </a>
                                <input type="checkbox" id="sm2">
                                <ul class="sub-menu">
                                    <li><a href="@Url.Action("ViewStandData", "Home")">View Stand Data</a></li>
                                    <li><a href="@Url.Action("UploadStandData", "Home")">Upload Stand Data</a></li>
                                    <li><a href="@Url.Action("UnmatchedStandData", "Home")">Unmatched Stand Data</a></li>
                                </ul>
                            </li>
                            <li id="liAssociationData" style="display: @ViewData["AssociationData"]">
                                <a href="#">
                                    <i class="fa fa-tag" aria-hidden="true"></i> Association (Billdable Data)
                                    <span class="drop-icon">▾</span>
                                    <label title="Toggle Drop-down" class="drop-icon" for="sm3">▾</label>
                                </a>
                                <input type="checkbox" id="sm3">
                                <ul class="sub-menu">
                                    <li><a href="@Url.Action("ViewAssociationData", "Home")">View Association Data</a></li>
                                    <li><a href="@Url.Action("NewAssociationData", "Home")">New Association Data</a></li>
                                    <li><a href="@Url.Action("UploadAssociationData", "Home")">Upload Association Data</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="row col-md-12">
        <div class="page-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-bar">
                            <div class="page-title-breadcrumb">
                                <div class=" pull-left">
                                    <div class="page-title">@ViewBag.Title</div>
                                </div>
                                <ol class="breadcrumb page-breadcrumb pull-right">
                                    <li>
                                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="@Url.Action("Dashboard", "Home")">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                    </li>
                                    <li class="active">@ViewBag.Title</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/AppJs")
    @RenderSection("scripts", required: false)
    @section sctipts
    {
        <script>
            new WOW().init();
            $(document).ready(function () {
                var table = $('#example').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });
                
                table.buttons().container()
                .appendTo('#example_wrapper .col-sm-6:eq(0)');
                table.on('order.dt search.dt', function () {
                    table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw()
                $('#example thead th').each(function () {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                });
                // Apply the search
                table.columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            });

            //var textarea = document.querySelector('textarea');

            //textarea.addEventListener('keydown', autosize);

            //function autosize() {
            //    var el = this;
            //    setTimeout(function () {
            //        el.style.cssText = 'height:auto; padding:0';
            //        // for box-sizing other than "content-box" use:
            //        // el.style.cssText = '-moz-box-sizing:content-box';
            //        el.style.cssText = 'height:' + el.scrollHeight + 'px';
            //    }, 0);
            //}
        </script>
    }
    
</body>
</html>
