<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/AppCss")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <div class="row col-md-12">
    <header>
        <div class="top-header">
            <div class="container">
                <ul class="nav navbar-nav">
                    <div class="page-logo">
                        <a href="index.html">
                            <!--<img alt="" src="assets/img/logo.png">-->
                            <span class="logo-default">Engeniuspark</span>
                        </a>
                    </div>
                    <li class="dropdown dropdown-extended dropdown-notification">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="fa fa-bell" aria-hidden="true"></i>
                            <span class="notify"></span>
                            <span class="heartbeat"></span>
                        </a>
                        <ul class="dropdown-menu mailbox wow zoomIn">
                            <li class="external">
                                <h3>Notifications</h3>
                                <span class="notification-label purple-bgcolor">New 1</span>
                            </li>
                            <li>
                                <div class="message-center">
                                    <ul class="small-slimscroll-style" data-handle-color="#637283">
                                        <li>
                                            <a href="#">
                                                <span class="btn-floating btn-large red"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                <span class="mail-contnet">
                                                    <h5>Launch Admin</h5>
                                                    <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="btn-floating btn-large red"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                <span class="mail-contnet">
                                                    <h5>Launch Admin</h5>
                                                    <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="btn-floating btn-large red"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                <span class="mail-contnet">
                                                    <h5>Launch </h5>
                                                    <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="btn-floating btn-large red"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                <span class="mail-contnet">
                                                    <h5> Admin</h5>
                                                    <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-menu-footer">
                                    <a href="javascript:void(0)"> All notifications </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- start notification dropdown -->
                    <li class="dropdown dropdown-extended dropdown-notification">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span class="notify"></span>
                            <span class="heartbeat"></span>
                        </a>
                        <ul class="dropdown-menu mailbox wow zoomIn">
                            <li class="external">
                                <h3>You have 4 new message</h3>
                            </li>
                            <li>
                                <div class="message-center">
                                    <ul class="small-slimscroll-style" data-handle-color="#637283">
                                        <li>
                                            <a href="#">
                                                <span class="user-img">
                                                    <img src="images/1.jpg" alt="user" class="img-circle">
                                                    <span class="profile-status online pull-right"></span>
                                                </span>
                                                <span class="mail-contnet">
                                                    <h5>Chris Evans</h5>
                                                    <span class="mail-desc">Just see the my admin!</span>
                                                    <span class="time">9:30 AM</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="user-img">
                                                    <img src="images/1.jpg" alt="user" class="img-circle">
                                                    <span class="profile-status busy pull-right"></span>
                                                </span>
                                                <span class="mail-contnet">
                                                    <h5>Chris Evans</h5>
                                                    <span class="mail-desc">Just see the my admin!</span>
                                                    <span class="time">9:30 AM</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="user-img">
                                                    <img src="images/1.jpg" alt="user" class="img-circle">
                                                    <span class="profile-status busy pull-right"></span>
                                                </span>
                                                <span class="mail-contnet">
                                                    <h5>Chris Evans</h5>
                                                    <span class="mail-desc">Just see the my admin!</span>
                                                    <span class="time">9:30 AM</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="user-img">
                                                    <img src="images/1.jpg" alt="user" class="img-circle">
                                                    <span class="profile-status busy pull-right"></span>
                                                </span>
                                                <span class="mail-contnet">
                                                    <h5>Chris Evans</h5>
                                                    <span class="mail-desc">Just see the my admin!</span>
                                                    <span class="time">9:30 AM</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-menu-footer">
                                    <a href="javascript:void(0)"> See all e-Mails</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="search-box">
                            <input class="s-box" type="text" name="search" placeholder="Type keyword">
                            <a class="s-btn" href="">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
                @*<ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                            <img src="images/2.jpg" alt="user" class="profile-pic">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default dropdown-content wow zoomIn">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="images/2.jpg" alt="user"></div>
                                    <div class="u-text">
                                        <h4>Steve Harvey</h4>
                                        <p>steve@gmail.com</p>
                                        <a class="btn btn-info cyan white-text btn-small">View Profile</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="company_profile.php">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i> Company Profile
                                </a>
                            </li>
                            <li>
                                <a href="manage_users.php">
                                    <i class="fa fa-user"></i> Manage Users
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pencil"></i> Change Password
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-cogs"></i> Settings
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="index.php">
                                    <i class="fa fa-sign-out"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>*@
            </div>
        </div>
        <div class="bottom-header">
            <div class="container">
                <div class="menu">
                    <label for="tm" id="toggle-menu">Menu <span class="drop-icon">▾</span></label>
                    <input type="checkbox" id="tm">
                    <ul class="main-menu cf">
                        <li><a href="dashboard.php"> <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                        <li><a href="manage_aircraft.php"> <i class="fa fa-tachometer" aria-hidden="true"></i> Aircraft Master</a></li>
                        <li><a href="manage_airline.php"> <i class="fa fa-tachometer" aria-hidden="true"></i> Airline Master</a></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-tag" aria-hidden="true"></i> BME Data
                                <span class="drop-icon">▾</span>
                                <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
                            </a>
                            <input type="checkbox" id="sm1">
                            <ul class="sub-menu">
                                <li><a href="view_bme_data.php">View BME Data</a></li>
                                <li><a href="upload_bme_data.php">Upload BME Data</a></li>
                                <li><a href="unmatched_bme_data.php">Unmatched BME Data</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-tag" aria-hidden="true"></i> Stand Data
                                <span class="drop-icon">▾</span>
                                <label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label>
                            </a>
                            <input type="checkbox" id="sm2">
                            <ul class="sub-menu">
                                <li><a href="view_stand_data.php">View Stand Data</a></li>
                                <li><a href="upload_stand_data.php">Upload Stand Data</a></li>
                                <li><a href="unmatched_stand_data.php">Unmatched Stand Data</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-tag" aria-hidden="true"></i> Association (Billdable Data)
                                <span class="drop-icon">▾</span>
                                <label title="Toggle Drop-down" class="drop-icon" for="sm3">▾</label>
                            </a>
                            <input type="checkbox" id="sm3">
                            <ul class="sub-menu">
                                <li><a href="view_association_data.php">View Association Data</a></li>
                                <li><a href="new_association_data.php">New Association Data</a></li>
                                <li><a href="upload_association_data.php">Upload Association Data</a></li>
                            </ul>
                        </li>

                        <!--<li>
                           <a href="#"> <i class="fa fa-tag" aria-hidden="true"></i> Apps
                           <span class="drop-icon">▾</span>
                           <label title="Toggle Drop-down" class="drop-icon" for="sm0">▾</label>
                           </a>
                           <input type="checkbox" id="sm0">
                           <ul class="sub-menu two-column">
                              <li><a href="airline_details.php">Airline Details</a></li>
                              <li><a href="#">Item 1.2</a></li>
                              <li><a href="#">Item 1.3</a></li>
                              <li><a href="#">Item 1.4</a></li>
                           </ul>
                        </li> -->
                        <!-- <li>
                           <a href="#"> <i class="fa fa-tag" aria-hidden="true"></i> Forms
                           <span class="drop-icon">▾</span>
                           <label title="Toggle Drop-down" class="drop-icon" for="sm3">▾</label>
                           </a>
                           <input type="checkbox" id="sm3">
                           <ul class="sub-menu">
                              <li>
                                 <a href="">3.1
                                 <span class="drop-icon">▸</span>
                                 <label title="Toggle Drop-down" class="drop-icon" for="sm4">▾</label>
                                 </a>
                                 <input type="checkbox" id="sm4">
                                 <ul class="sub-menu">
                                    <li><a href="">3.1.1</a></li>
                                    <li><a href="">3.1.2</a></li>
                                    <li><a href="">3.1.3</a></li>
                                    <li><a href="">3.1.4</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="">3.2
                                 <span class="drop-icon">▸</span>
                                 <label title="Toggle Drop-down" class="drop-icon" for="sm5">▾</label>
                                 </a>
                                 <input type="checkbox" id="sm5">
                                 </a>
                                 <ul class="sub-menu">
                                    <li><a href="">3.2.1</a></li>
                                    <li><a href="">3.2.2</a></li>
                                    <li><a href="">3.2.3</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="">3.3
                                 <span class="drop-icon">▸</span>
                                 <label title="Toggle Drop-down" class="drop-icon" for="sm6">▾</label>
                                 </a>
                                 <input type="checkbox" id="sm6">
                                 </a>
                                 <ul class="sub-menu">
                                    <li><a href="">3.3.1</a></li>
                                    <li><a href="">3.3.2</a></li>
                                    <li><a href="">3.2.2</a></li>
                                    <li><a href="">3.3.4</a></li>
                                    <li><a href="">3.3.5</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </header>
    </div>
    <div class="row col-md-12">
        <div class="page-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-bar">
                            <div class="page-title-breadcrumb">
                                <div class=" pull-left">
                                    <div class="page-title">@ViewBag.Title</div>
                                </div>
                                <ol class="breadcrumb page-breadcrumb pull-right">
                                    <li>
                                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="#">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                    </li>
                                    <li class="active">@ViewBag.Title</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
                @*<hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </footer>*@
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/AppJs")
    @RenderSection("scripts", required: false)
    @section sctipts
    {
        <script>
            new WOW().init();
            $(document).ready(function () {
                var table = $('#example').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });
                table.buttons().container()
                .appendTo('#example_wrapper .col-sm-6:eq(0)');
            });

            var textarea = document.querySelector('textarea');

            textarea.addEventListener('keydown', autosize);

            function autosize() {
                var el = this;
                setTimeout(function () {
                    el.style.cssText = 'height:auto; padding:0';
                    // for box-sizing other than "content-box" use:
                    // el.style.cssText = '-moz-box-sizing:content-box';
                    el.style.cssText = 'height:' + el.scrollHeight + 'px';
                }, 0);
            }


            function copy_all1() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.pca_n_inter_inter.value = document.airline_details.fgp_n_inter_inter.value;
                }
                else {
                    document.airline_details.pca_n_inter_inter.value = "";
                }
            }
            function copy_all2() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.fgp_n_dom_dom.value = document.airline_details.pca_n_inter_inter.value;
                }
                else {
                    document.airline_details.fgp_n_dom_dom.value = "";
                }
            }
            function copy_all3() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.pca_n_dom_dom.value = document.airline_details.fgp_n_dom_dom.value;
                }
                else {
                    document.airline_details.pca_n_dom_dom.value = "";
                }
            }
            function copy_all4() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.fgp_n_inter_dom.value = document.airline_details.pca_n_dom_dom.value;
                }
                else {
                    document.airline_details.fgp_n_inter_dom.value = "";
                }
            }
            function copy_all5() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.pca_n_inter_dom.value = document.airline_details.fgp_n_inter_dom.value;
                }
                else {
                    document.airline_details.pca_n_inter_dom.value = "";
                }
            }
            function copy_all6() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.fgp_n_dom_inter.value = document.airline_details.pca_n_inter_dom.value;
                }
                else {
                    document.airline_details.fgp_n_dom_inter.value = "";
                }
            }
            function copy_all7() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.pca_n_dom_inter.value = document.airline_details.fgp_n_dom_inter.value;
                }
                else {
                    document.airline_details.pca_n_dom_inter.value = "";
                }
            }
            function copy_all8() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.fgp_t_inter_inter.value = document.airline_details.pca_n_dom_inter.value;
                }
                else {
                    document.airline_details.fgp_t_inter_inter.value = "";
                }
            }
            function copy_all9() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.pca_t_inter_inter.value = document.airline_details.fgp_t_inter_inter.value;
                }
                else {
                    document.airline_details.pca_t_inter_inter.value = "";
                }
            }
            function copy_all10() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.fgp_t_dom_dom.value = document.airline_details.pca_t_inter_inter.value;
                }
                else {
                    document.airline_details.fgp_t_dom_dom.value = "";
                }
            }
            function copy_all11() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.pca_t_dom_dom.value = document.airline_details.fgp_t_dom_dom.value;
                }
                else {
                    document.airline_details.pca_t_dom_dom.value = "";
                }
            }
            function copy_all12() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.fgp_t_inter_dom.value = document.airline_details.pca_t_dom_dom.value;
                }
                else {
                    document.airline_details.fgp_t_inter_dom.value = "";
                }
            }
            function copy_all13() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.pca_t_inter_dom.value = document.airline_details.fgp_t_inter_dom.value;
                }
                else {
                    document.airline_details.pca_t_inter_dom.value = "";
                }
            }
            function copy_all14() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.fgp_t_dom_inter.value = document.airline_details.pca_t_inter_dom.value;
                }
                else {
                    document.airline_details.fgp_t_dom_inter.value = "";
                }
            }
            function copy_all15() {
                if (document.airline_details.same1.checked) {
                    document.airline_details.pca_t_dom_inter.value = document.airline_details.fgp_t_dom_inter.value;
                }
                else {
                    document.airline_details.pca_t_dom_inter.value = "";
                }
            }
        </script>
        }
    }
</body>
</html>
